.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0;
}

.logo {
  width: 400px !important;   /* força o tamanho */
  max-width: 95%;
  height: auto;
}
