/* ====== ESTILO GERAL ====== */
body {
  font-family: "Patrick Hand", cursive;
  background-color: #fff;
  color: #000;
  text-align: center;
  margin: 0;
  padding: 0;
}

.quiz-container {
  max-width: 600px;
  margin: 100px auto;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
}

.question-header {
  margin-bottom: 30px;
}

.circle {
  background-color: #591E98;
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  margin: 0 auto 10px;
}

h2 {
  font-size: 26px;
}

/* ====== GRID DAS OPÇÕES ====== */
#options-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  justify-content: center;
  margin-bottom: 30px;
}

/* ====== BOTÕES DE OPÇÃO ====== */
.option {
  background-color: #d96600;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;

  /* Deixa todo botão igual (texto ou imagem) */
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  /* Garante que todos ocupem o mesmo espaço */
  width: 100%;
  box-sizing: border-box;
}

.option:hover {
  background-color: #ff8000;
  transform: scale(1.05);
}

/* ====== IMAGENS DENTRO DO BOTÃO ====== */
.option img {
  max-height: 55px;
  max-width: 90%;
  object-fit: contain;
  display: block;
}

/* ====== ESTADOS CORRETO / ERRADO ====== */
.option.correct {
  background-color: #2636C3 !important;
  color: white;
}

.option.incorrect {
  background-color: #a11 !important;
  color: white;
}

/* ====== BOTÃO PRÓXIMA ====== */
button {
  background-color: #591E98;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #3b1470;
}

.hidden {
  display: none;
}

/* ====== FOOTER ====== */
footer {
  position: absolute;
  bottom: 10px;
  font-size: 14px;
  color: #333;
  width: 100%;
  text-align: center;
}

/* ====== BARRA DE PROGRESSO ====== */
.progress-bar {
  width: 100%;
  height: 12px;
  background: #ddd;
  border-radius: 20px;
  overflow: hidden;
  margin: 25px 0;
}

.progress-fill {
  height: 100%;
  width: 0%;
  background: #591E98;
  transition: width 0.3s ease;
}

#lives-status {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: rgb(17, 2, 2);
    z-index: 100; /* Define a prioridade alta de exibição */
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4); /* Fundo sutil para destaque */
}